/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #333; */
    
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#000428, #004e92
    );
    padding: 15px 30px;
    position: relative;
    transition: all 0.3s ease;
}

.navbar h1 {
    color: #fff;
    font-size: 24px;
}

.nav-actions a {
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    color: #fff;
    background-color: #004e92;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-actions a:hover {
    background-color: #3d3d3d;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 20px;
        border-radius: 5px;
        z-index: 10;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-actions {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

.display-details{
    width: 100%;
    margin-top: 5%;
}

.tmain{
    width: 80%;
    height: auto;
    margin: auto;
}

.tmain button{
    width: auto;
    background-color: red;
    height: 100%;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 11px;
}

.phone{
    display: none;
}

.phone input{
    border: none;
    background-color: rgb(252, 140, 140);
}

tr,td,th{
    border: 1px solid black;
    background-color: white;
}

.buttons-phone button{
    display: none;
}